@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  padding: 0px;
  margin: 0px;
  transition: all 0.2s ease-in-out;
  font-family: 'Open Sans', sans-serif;

}

/*.App {
  text-align: center;
  background-image: url(./hb.jpg);
  height: 150vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 8rem;
}*/

/* body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
} */



