@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
.slider {
 
    display: flex;
    align-items: center;
    margin-top: 4rem;

}

.allSlider{
    background-color: white;
    box-shadow: 0 3px 6px #101418, 0 3px 6px #101418;
    border-radius: 7px;

}
.container {
    background-color: white;
    width: 400px;
    height: 350px;
    display: flex;
    justify-items: center;
    justify-content: center;
    


}

.container-content {
    color: #DDFBEF;
    margin-top:2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Lalezar', cursive;
    background-color: #2A94F4;
    
}

.allSlider h2 {
    margin-left: 2rem;
    color: rgb(5, 5, 10);
    font-weight: bold;
    padding: .5rem;
}
.allSlider p{
    margin-top: 1rem;
    padding: .5rem;
}

/* .container-black_img {
    background-color: red;
    width: 350px;
    height: 300px; 
    margin-top:2rem;
    font-family: 'Lalezar', cursive;
    color:rgb(18, 163, 61);

} */

video {
    margin-top: 4rem;
    width: 100%;
}




